/* VARIABLES */
:root {
  --green: #28ff8a;
}

html, body {
  height: 100%;
}

/* RESETS */
body {
  background: #1f222fde;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ANIMATIONS */
@keyframes slide-in {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0);
  }
}

/* CUSTOM STYLES */

header {
  /* Aligns the direct children on a row left to right */
  display: flex;
  /* Once you set display: flex, you can align items vertically and horizontally with flexbox properties */
  /* Align items will align the direct children on the y-axis (top to bottom) */
  align-items: center;
  /* Push the direct children as far apart as possible, using the space between them (x-axis) */
  /* justify-content: space-between; */
  background: #191c2fde;
  padding: 25px 7% 20px;
}

header a {
  color: #fdab0c;
}

header a:hover,
header a.active {
  text-decoration: underline;
}

header nav {
  /* Percentage values are always a percentage of the parent's value(width/height) */
  margin-left: 150px;
}

header nav a {
  color: #fff;
  position: relative;
  text-decoration: none !important;
}

header nav a:hover:after, header nav a.active:after {
  /* Pseudo elements REQUIRE that you set the content property */
  content: '';
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

/* Select all links with the nav except the last one */
header nav a:not(:last-child) {
  margin-right: 10px;
}

/* Position relative allows you to move an element from it's original/current position and not affect the elements around it */
/* header nav a:first-child {
  position: relative;
  top: 50px;
} */

main {
  display: flex;
  justify-content: space-between;
  padding: 45px 3% 0 10%;
  background-image: linear-gradient(rgba(20, 20, 62, 0.2), rgba(20, 20, 62, 0.2)), url(../images/me_flipped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

section p {
  color: var(--green);
}

section h1 {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 0 25px;
  animation: slide-in 1s;
}

section button {
  background: none;
  border: 2px solid var(--green);
  padding: 0 0 0 15px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .4s;
}

section button i {
  color: #191c2fde;
  font-size: 1.5rem;
  background: var(--green);
  padding: 10px 15px;
  margin-left: 15px;
}

section button:hover {
  background: #1ed16f;
  color: #191c2fde;
  transform: translateX(10px);
}

aside {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  position: relative;
  left: 70px;
}

aside p {
  color: var(--green);
  margin-right: 15px;
}

aside i {
  color: #fff;
  margin-right: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #4f547bde;
  padding: 30px 7%;
  color: #bbb;
}

.chat {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 500;
}

.chat button {
  background: rgba(0, 0, 0, .8);
  border: 2px solid var(--green);
  padding: 7px 15px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* MEDIA QUERIES */
/* max-width works for screens at the size and below */
 /* min-width works for screens at the size and above */
@media (max-width: 700px) {
  main {
    background-position: right;
    background-image: linear-gradient(rgba(23, 23, 62, 0.5), rgba(23, 23, 62, 0.5)), url(../images/me_flipped.jpg);
  }
}

@media (max-width: 400px) {
  main {
    background-position: 80% 100%;
  }
}